.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 72;
  background: linear-gradient(to bottom, #0c8d82, #bbb);
}

.img {
  width: 100%;
  height: 500px;
  object-fit:cover;
}